.publicationsandpresentations {
	.section {
		@include transition(background-color);
		display: block;
		padding: $a-padding-vert*2 $a-padding-horz;
		text-decoration: none;

		span {
			&:first-of-type:before {
				content: '';
				padding-right: 0;
			}
			&:before {
				content: ' ∙';
				padding-right: 4px;
			}
		}

		&:hover {
			background-color: $mid-2;
			color: $dark-1;
		}
	}
}