// Media querie variables
$sm-ish: 350px;
$md-ish: 700px;
$lg-ish: 1400px;

// Colour variables
$white: #fff;
$black: #000;

// $light-1: #f1f2f3; //warm off-white (background)
$light-1: #f7f7f8;
$light-2: lighten($light-1, 2%);
$mid-1: #e9e7e8; //warm taupe (feature bkgd)
$mid-2: #dee1e4; //cool gray (feature bkgd)
$dark-1: #36393c; //dark cool grey (text)

$accent-1: #f66167; //coral (logo)
$accent-2: #f24665; //red (logo)
$accent-3: #4a93e5; //blue

// Font stack variables
$serif-1: Georgia, "Times New Roman", serif;
$sans-serif-1: Avenir, Helvetica, Arial, sans-serif;
$mono-1: "Courier New", Courier, monospace, monospace;

// Font sizes
$sans-sm: 1.1rem;
$sans-md: 1.3rem;
$sans-lg: 1.8rem;
$serif-xsm: 0.9rem;
$serif-sm: 1.3rem;
$serif-md: 1.8rem;
$serif-lg: 2.8rem;
$serif-xlg: 4.2rem;

// Transitions
$short-trns: 200ms;
$long-trns: 500ms;
$easing: cubic-bezier(0.250, 0.460, 0.450, 0.940);

// Padding
$a-padding-vert: 15px;
$a-padding-horz: 42px;

// Spacing
$icon-dist: 14px;

// Border
$nav-border: 1px solid $mid-2;

// Mixins
@mixin show {
	border: 1px solid blue;
	background-color: rgba(0,0,0,0.25);
}

@mixin transition($rule: all, $length: $short-trns) {
	transition: $rule $length $easing;
}

@mixin subtle-bevel-border($color: $mid-2) {
  border-top: 1px solid lighten($color, 5%);
  border-bottom: 1px solid darken($color, 5%);
}

@mixin clearfix {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

// Project-wide base styles
html {
	font-family: $serif-1;
	color: $dark-1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif-1;
}

body {
	background-color: $light-1;
}

sub {
  bottom: -0.15rem;
}