.headshot {
	position: absolute;
	top: -63px;
	right: 0;
	width: 10rem;
	img {
		width: 100%;
	}
}

.social-media {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 3.9rem;
	width: 93.3%;
	li {
		font-family: $sans-serif-1;
		border: $nav-border;
		background-color: $mid-2;
		display: inline-flex;
		flex-grow: 1;
		justify-content: center;
		padding: $a-padding-vert $a-padding-horz;
		transition: all $short-trns $easing;
		a {
			text-decoration: none;
			font-size: $sans-sm;
			color: $dark-1;
		}
		&:hover {
			background-color: $light-2;
		}
	}
}

.copyright {
	color: $dark-1;
	padding: $a-padding-vert 0;
}

@media screen and (max-width: 1101px) {
	.headshot {
    top: -36px;
	}
}

@media screen and (max-width: $md-ish) {
	.social-media {
		width: 100%;
	}
	.headshot {
    display: none;
	}
	.copyright {
		padding-left: 2rem;
	}	
}